.bl-sl-set { position: relative; padding-top: 44.25%;
	.parallax { pointer-events: none; }
	.parallax.cover { @extend .ease; }
	&:hover {
		.parallax.cover { opacity: 0.8; }
	}

	@include breakpoint(mobile) { padding-top: 100%; }
}
a.bl-sl-set { display: block; color: inherit; }

.bs-se-col {
	&.main { position: absolute; z-index: 3; bottom: 50px; left: 0; width: 100%; }

	@include breakpoint(xl) {
		&.main { bottom: 90px; }
	}
}

.bl-fe-set {  }
a.bl-fe-set { display: block; color: inherit; }
.bf-se-col {
	&.capt { padding-top: 20px; padding-bottom: 20px; border-bottom: 1px solid $coGray2; }

	.in-co-par {
		p { margin-bottom: 5px; }
	}
}

.ic-to-btn { font-weight: 600; text-transform: uppercase; color: inherit; @extend .bp-img, .fz-20;
	> * { display: inline-block; vertical-align: middle; padding-left: 5px; padding-right: 5px;
		&:first-child { padding-left: 0; }
		&:last-child { padding-right: 0; }
	}
	img { position: relative; top: -1px; }
	[class*="icon-"] { font-size: 90%; }
}

.ic-to-breadcrumbs { font-weight: 500;
	> li { display: inline-block; vertical-align: top;
		a { color: inherit; }
		&:after { content: '/'; display: inline-block; vertical-align: top; padding-left: 15px; padding-right: 15px; }
		&:last-child {
			&:after { display: none; }
		}
	}
}

.bl-de-sns {
	> li { margin-bottom: 10px;
		&:last-child { margin-bottom: 0; }
		a { display: block; color: $coBlack;
			&:hover { color: $defaultColor;
				&.sns-fb { color: $coFacebook; }
				&.sns-twitter { color: $coTwitter; }
				&.sns-linkedin { color: $coLinkedin; }
			}
		}
		[class*="icon-"] { font-size: 18px; }
	}

	@include breakpoint(tablet2) {
		> li { display: inline-block; vertical-align: middle; margin-bottom: 0; margin-right: 30px;
			&:last-child { margin-right: 0; }
		}
	}
}