.con-inf-list {
	> li { margin-bottom: 15px; display: flex; align-items: center;
		&:last-child { margin-bottom: 0; }

		> * { padding-left: 10px; padding-right: 10px;
			&:first-child { padding-left: 0; }
			&:last-child { padding-right: 0; }
			&.icon { min-width: 30px; }
		}
		a { color: inherit;
			&:hover { color: $coBlue1; }
		}
	}
}

.con-form-group {
	.form-group { margin-bottom: 25px;
		.form-control { margin-bottom: 15px;
			&:last-child { margin-bottom: 0; }
		}
		&.mb0, &.no-margin { margin-bottom: 0; }
		> label { margin-bottom: 12px; }
		> *:last-child { margin-bottom: 0; }
	}

	&.fz-14 {
		.form-group {
			> label { @extend .fz-16; }
		}
	}

	label {
		strong { font-weight: 600; }
		&.fw-700 {
			strong { font-weight: bold; }
		}
	}
}

.cf-input { height: 50px; padding: 12px 20px; font-size: inherit; outline: none !important; box-shadow: none !important; border: 1px solid $coGray8; @extend .mobile-input;
	@include placeholder{ font-style: italic; }
}
textarea.cf-input { height: 120px; resize: none; }

.cf-box { padding: 20px; background-color: $coWhite; @extend .bp-img;
	&.box-yellow { background-color: $coYellow1; }
	&.d-flex {
		> * { margin-bottom: 0; }
	}

	> ul {
		> li { display: inline-block; vertical-align: middle; margin-left: 1px; margin-right: 1px;
			&:first-child { margin-left: 0; }
			&:last-child { margin-right: 0; }
		}
	}
}

.validation_error,
.gfield_label {
	display: none;
}

.gfield {
	margin-bottom: 25px;
	&.gfield_error {
		.gfield_description {
			color: #bf0707;
		}
	}
	.gfield_description {
		margin: 7px 0;
	}
}