.cf-list-btn { display: inline-block; position: relative; font-weight: bold; padding-left: 25px; color: inherit;
	&:before { content: ''; display: block; position: absolute; top: 5px; left: 0; border-left: 6px solid $defaultColor; border-top: 6px solid transparent; border-bottom: 6px solid transparent; }
}
.co-fa-list {
	> li { @extend .mb2;
		&:last-child { margin-bottom: 0; }

		[toggle-btn], [toggle-main], .link { padding-left: 25px; }

		[toggle-btn], .link { @extend .cf-list-btn; }

		[toggle-main] { @extend .pt2, .pb1;
			> * {
				&:last-child { margin-bottom: 0; }
			}
		}
	}

	&.list-v2 {
		> li {
			a { @extend .cf-list-btn; }
		}
	}
}

.co-fa-boxes {
	&.col1 {
		> li { margin-bottom: 30px;
			&:last-child { margin-bottom: 0; }
		}
	}
	&.col2 { margin-left: -15px; margin-right: -15px;
		> li { display: inline-block; vertical-align: top; width: 50%; padding-left: 15px; padding-right: 15px; margin-left: -2px; margin-right: -2px; margin-bottom: 30px;
			&:last-child { margin-bottom: 0; }
		}
	}
}

.cf-bo-box { padding: 30px; border: 1px solid $coGray8;
	@include breakpoint(phablet2) { padding: 20px;
		&.gh1 { min-height: 0 !important; }
	}
}

.cb-bo-title {
	> * { padding-left: 10px; padding-right: 10px;
		&:first-child { padding-left: 0; }
		&:last-child { padding-right: 0; }
	}
	[class*="icon-"] { font-size: 50px; }

	@include breakpoint(phablet) { margin-bottom: 20px;
		[class*="icon-"] { font-size: 45px; line-height: 1.0; }
	}
}