// ionclude all your related style here in the footer, you can leave it empty if the page has no footer
footer { z-index: 2; position: relative; }
.footer-content { position: relative; background-color: $coYellow1; }
.fc-main {
	@include breakpoint(mobile) {
		&.mt4 { margin-top: 25px; }
	}
}
.fc-links {
	> li { margin-bottom: 15px;
		&:last-child { margin-bottom: 0; }
		a { color: inherit;
			&:hover { color: $coBlue1; }
		}
	}
}

.fc-sns {
	> * { padding-left: 10px; padding-right: 10px;
		&:first-child { padding-left: 0; }
		&:last-child { padding-right: 0; }
		a { display: block; color: rgba($coBlack, 0.3);
			&:hover { color: $defaultColor;
				&.sns-fb { color: $coFacebook; }
				&.sns-ig { color: $coInstagram; }
				&.sns-pinterest { color: $coPinterest; }
			}
		}
	}
	[class*="icon-"] { font-size: 40px; }
}