// ionclude all your related style here in the header, you can leave it empty if the page has no header
html, body { height:100%; min-height:100%; }
header {
	.header-content { z-index: 100; position: fixed; top: 0; left: 0; width: 100%; @extend .ease2; }
	&.header-top {
		.header-content { background-color: $coWhite; @extend .bp-shadow; }
	}
}

.hc-fl-list {
	.hf-li-col {
		&.title { display: block; position: relative; padding: 15px; font-weight: 600; text-transform: uppercase; border-bottom: 1px solid rgba($coBlack, 0.1); color: inherit; }

		&[toggle-btn] {
			&.title { padding-right: 30px;
				&:after { content: '\e91c'; display: block; position: absolute; top: 50%; right: 10px; font-family: $icomoon; font-size: 85%; @extend .bp-centralize; }
			}
		}
	}

	.toggle-active {
		.hf-li-col {
			&[toggle-btn] {
				&.title {
					&:after { content: '\e92f'; }
				}
			}
		}
	}
}

.fl-li-list {
	> li { border-bottom: 1px solid rgba($coBlack, 0.1);
		a { display: block; padding: 15px 15px 15px 25px; color: inherit;
			&:hover { color: $defaultColor; }
			&.co-red { color: red; }
		}
	}
}

.header-content {
	@include breakpoint(tablet2) {
		// .menu { display: none; }
	}
	@include breakpoint(mobile) {
		.logo img { max-width: 55px; }
	}
}
.he-co-row {
	&.note { padding-top: 10px; padding-bottom: 10px; background-color: $coNude1; color: $coWhite; }
	&.main { padding-top: 15px; padding-bottom: 15px; }
}

.hc-ro-col {
	> * { padding-left: 9px; padding-right: 9px;
		&:first-child { padding-left: 0; }
		&:last-child { padding-right: 0; }
	}
	[class*="icon-"] {
		&.fz-30 { display: inline-block; position: relative; top: 7px; line-height: 0; }
	}
}

.hc-ro-list {
	> * { margin-left: 20px; margin-right: 20px;
		&:first-child { margin-left: 0; }
		&:last-child { margin-right: 0; }
	}

	@include breakpoint(phablet) {
		> * { margin-left: 15px; margin-right: 15px; }
	}
	@include breakpoint(phablet) {
		> * { margin-left: 10px; margin-right: 10px; }
	}
}

.menu-bar { cursor: pointer; font-size: 24px; color: $coBlack;
	span { display: block; width: 25px; height: 3px; margin: 4px 0; background-color: $defaultColor; @extend .ease; }

	&.active {
		span {
			&:nth-child(1) { @include transform(translateY(7px) rotate(45deg)); }
		      &:nth-child(2) { @include transform(translate3d(-15px,0,0) scale(0)); }
		      &:nth-child(3) { @include transform(translateY(-7px) rotate(-45deg)); }
		}
	}
}

.menu {
	> ul {
		> li { position: relative; display: inline-block; vertical-align: middle; padding-left: 20px; padding-right: 20px;
			&:first-child { padding-left: 0; }
			&:last-child { padding-right: 0; }
			a { display: block; padding: 10px 0; color: inherit; }

			&.menu-item-has-children {
				> a {
					&:after { content: '\e901'; position: relative; top: 0; display: inline-block; vertical-align: middle; margin-left: 7px; font-family: $icomoon; font-size: 90%; }
				}
			}

			ul { display: none; position: absolute; top: 100%; left: -15px; min-width: 100px; background-color: $coWhite; overflow: hidden; @extend .bp-curve, .bp-shadow;
				li { border-bottom: 1px solid rgba($coBlack, 0.1);
					&:last-child { border-bottom: none; }

					a { display: block; padding: 15px; color: inherit; }
					&:hover {
						a { background-color: $coBlue1; color: $coWhite; }
					}
				}
			}
		}
	}
}

.hc-ro-user-opt {
	> li { position: relative; margin-left: 15px; margin-right: 15px;
		&:first-child { margin-left: 0; }
		&:last-child { margin-right: 0; }
		.hr-us-icon {
			a { color: $coBlack; }
			[class*="icon-"] { font-size: 20px; }
		}

		.hr-us-icon { z-index: 3; }

		&.sub {
			.hr-us-sub { display: none; z-index: 5; right: -21px; }

			&.sub-box {
				&:after { opacity: 0; content: ''; display: block; position: absolute; top: -18px; left: -14px; width: 55px; height: 53px; background-color: $coWhite; @include border-radius(7px 7px 0 0);
					box-shadow: 0 0 20px rgba($coBlack, 0.1);
				}
			}

			&.hover-active {
				&:after { opacity: 1; }
			}
		}

		@include breakpoint(phablet) { margin-left: 10px; margin-right: 10px;
			&.sub {
				&.sub-box {
					&:after { left: -11px; width: 52px; }
				}
			}
		}
	}

	.hs-de-btn { min-width: 0; padding: 10px 20px 10px 0;
		&:after { border-top-width: 5px; border-left-width: 6px; border-right-width: 6px; }
	}

	@include breakpoint(desktop) { margin-right: 17px; }
}

.hr-us-icon { position: relative;
	a { display: block; color: inherit; }
	.tag { z-index: 2; display: flex; align-items: center; justify-content: center; position: absolute; width: 28px; height: 28px; top: -14px; right: -17px; text-align: center; font-size: 14px; font-weight: 500; background-color: $coNude2; @extend .bp-circle; }
}

.hr-us-sub { position: absolute; top: 100%; right: 0; width: 525px; padding-top: 5px;
	&.hs-de-box { max-width: 378px; }
	@include breakpoint(tablet2) { max-width: calc(100vw - 20px); width: 320px; }
	@include breakpoint(mobile3) { width: calc(100vw - 20px);  }
}
.hu-su-box { padding: 30px 20px; background-color: $coWhite; box-shadow: 0 10px 20px rgba($coBlack,0.1);
	.sg-qty-select { width: 132px; }
	.table-sg {
		th, td { padding: 15px 4px;
			> * {
				&:last-child { margin-bottom: 0; }
			}
		}
		tr {
			th, td {
				&:first-child { padding-left: 0; }
				&:last-child { padding-right: 0; }
			}
		}
	}

	@include breakpoint(tablet2) { padding: 20px 15px; }
}

.hs-bo-col {
	&.main { max-height: 350px; padding-right: 10px; overflow: auto; @extend .bp-ios-touch;
		.thumbnail-cart-popup {
			img { max-width: 72px; }
		}
		@include breakpoint(md) {
			&::-webkit-scrollbar { width: 7px; background: transparent; }
			&::-webkit-scrollbar-thumb { background-color: rgba($coBlack, 0.3); @include border-radius(20px);  }
			&:hover {
				&::-webkit-scrollbar-thumb { background-color: rgba($coBlack, 1);}
			}
		}
	}

	@include breakpoint(tablet2) {
		&.main { padding-right: 0; }
	}
}

.hb-co-col {
	&.short { width: 72px; }

	@include breakpoint(mobile) {
		&.short { width: 0; }
	}
}

#wpadminbar {
	top: auto;
	bottom: 0;
	position: fixed;
	#wp-admin-bar-wp-logo {
		display: none;
	}
	#wp-admin-bar-site-name {
		display: none;
	}
	#wp-admin-bar-customize {
		display: none;
	}
}