.home-slider { z-index: 10; position: relative; overflow: visible;
	@include breakpoint(phablet) { height: auto !important; overflow: visible; margin-bottom: 85px;
		.flexslider { padding-bottom: 20px;
			ul.slides {
				> li { height: auto !important; }
			}
		}
	}
}

.ho-sl-main {
	&.bp-ab { top: 0; left: 0; width: 100%; height: 100%; }

	@include breakpoint(phablet) {
		&.bp-ab { position: relative; padding-top: calc(113px + 20px); padding-bottom: 200px; }
	}
}

.hs-ma-col {
	&.capt { z-index: 5; position: absolute; top: 50%; left: 0; width: 100%; @extend .bp-centralize; }

	@include breakpoint(phablet) {
		&.capt { position: relative; top: 0; margin-top: 10px; margin-bottom: 25px; @include transform(translate3d(0,0,0)); }
	}
}

.ho-sl-sub {
	&.bottom { z-index: 10; position: absolute; bottom: 0; left: 0; width: 100%; }
	&.bottom-center { z-index: 10; position: absolute; bottom: 0; left: 50%; @extend .bp-centralize2; }
	&.right-center { z-index: 10; position: absolute; top: 50%; right: 0; @extend .bp-centralize; }
	&.bottom-right { z-index: 10; position: absolute; bottom: 0; right: 0; }

	@include breakpoint(phablet) {
		&.right-center { top: calc(100% - 200px); left: 0; right: initial; width: 100%; @include transform(translate3d(0,0,0)); }
	}
}
.hs-su-arrow { cursor: pointer;
	> span { display: block; }
	&.visible {
		> span { @include animation(arrowDown 2s 1s ease infinite forwards); }
	}

	@include breakpoint(phablet) { display: none; }
}
@include keyframes(arrowDown) {
	0%, 100% { @include transform(translate3d(0,-10px,0)); }
	50% { @include transform(translate3d(0,10px,0)); }
}

.hs-su-dest { position: relative;
	.hs-de-box { left: initial; right: 0; width: 378px; }

	@include breakpoint(phablet) { text-align: center;
		.hs-de-btn { float: none !important; display: inline-block; }

		.hs-de-box { width: calc(100vw - 30px); }
	}
}

.hs-de-btn { position: relative; cursor: pointer; min-width: 115px; padding-right: calc(15px + 20px); @extend .bp-img;
	> * { display: inline-block; vertical-align: middle; padding-left: 5px; padding-right: 5px;
		&:first-child { padding-left: 0; }
		&:last-child { padding-right: 0; }
	}

	&:after { content: ''; display: block; position: absolute; top: 50%; right: 0; border-top: 8px solid $coGray1; border-left: 10px solid transparent; border-right: 10px solid transparent; @extend .bp-centralize; }
}
a.hs-de-btn { display: block; color: inherit; }

.hs-de-box { padding: 20px; background-color: $coWhite; @extend .bp-shadow; }

.hd-bo-list {
	> li { margin-bottom: 10px;
		&:last-child { margin-bottom: 0; }
	}	
}

.ho-sl-nav, .ho-sl-num { width: auto; margin-left: 0; margin-right: 0;
	> * { margin-left: 10px; margin-right: 10px;
		&:first-child { margin-left: 0; }
		&:last-child { margin-right: 0; }
	}
}

.ho-sl-nav {
	a { color: $coBlack;
		&:hover { opacity: 0.5; }
		[class*="icon-"] { font-size: 22px; }
	}
}

.ho-sl-num {
	.line { width: 70px; height: 1px; background-color: $coGray2; }
}

.fe-pr-capt {
	p { margin-bottom: 0; line-height: 26px; }
}

.ho-insta-list {
	&.col3 { margin-left: -13px; margin-right: -19px;
		> li { display: inline-block; vertical-align: top; width: 33.33%; padding-left: 15px; padding-right: 15px; margin-bottom: 30px; margin-left: -2px; margin-right: -2px;
			&:last-child { margin-bottom: 0; }
		}
	}

	@include breakpoint(tablet2) { 
		&.col3 {
			> li { width: 50%; }
		}
	}

	@include breakpoint(phablet) {
		&.mob-col2 { margin-left: -13px; margin-right: -17px;
			> li { padding-left: 0; padding-right: 0; margin-bottom: 0; }
		}
	}

	@include breakpoint(mobile2) {
		&.col3 { margin-left: 0; margin-right: 0;
			> li { display: block; width: auto; padding-left: 0; padding-right: 0; margin-left: 0; margin-right: 0; }
		}

		&.mob-col2 { margin-left: -13px; margin-right: -17px;
			> li { display: inline-block; width: 50%; margin-left: -2px; margin-right: -2px; }
		}
	}
}

.ho-co-input { position: relative;
	&:before { content: ''; display: block; position: absolute; top: 0; left: 25px; width: calc(100% - 50px); height: 100%; @extend .bp-shadow2; }
	.input-group { z-index: 5; position: relative; }
	.form-control { height: 59px; padding: 15px 30px; border: 1px solid $coGray5; border-right: none; outline: none !important; box-shadow: none !important; font-family: $fontB; @extend .fz-14;
		@include placeholder{ font-style: italic; }
	}

	@include breakpoint(mobile) {
		&:before { display: none; }
		.form-control { width: 100%; padding: 15px 20px; border: 1px solid $coGray5; @include border-radius(0); box-shadow: 0 10px 20px 0 rgba($coBlack, 0.05) !important; }
		.input-group-append { display: block; width: 100%;
			button { width: 100%; }
		}
		.input-group {
			> * { margin-bottom: 20px;
				&:last-child { margin-bottom: 0; }
			}
		}
	}
}
.hc-btn { width: 188px; height: 59px; background-color: $coBlue2; color: $coWhite; text-transform: uppercase; border: none; font-weight: 600; @extend .fz-16;
	&:hover { background-color: $coBlue1; }
}

.co-ne-main {
	@include breakpoint(phablet) {
		> .container {
			&:first-child { padding-top: 50px; }
		}
		.parallax.bp-mobile { background-position: 50% 20% !important; }
	}
}