@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?42li1x');
  src:  url('../fonts/icomoon.eot?42li1x#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?42li1x') format('truetype'),
    url('../fonts/icomoon.woff?42li1x') format('woff'),
    url('../fonts/icomoon.svg?42li1x#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icon-2pluso-logo:before {
  content: "\e900";
}
.icon-icon-arrow-down:before {
  content: "\e901";
}
.icon-icon-arrow-left:before {
  content: "\e902";
}
.icon-icon-arrow-right:before {
  content: "\e903";
}
.icon-icon-billing:before {
  content: "\e904";
}
.icon-icon-burger-menu:before {
  content: "\e905";
}
.icon-icon-check:before {
  content: "\e906";
}
.icon-icon-clock:before {
  content: "\e907";
}
.icon-icon-close:before {
  content: "\e908";
}
.icon-icon-delete:before {
  content: "\e909";
}
.icon-icon-delivery:before {
  content: "\e90a";
}
.icon-icon-delivery-truck:before {
  content: "\e90b";
}
.icon-icon-dropdown:before {
  content: "\e90c";
}
.icon-icon-edit:before {
  content: "\e90d";
}
.icon-icon-email:before {
  content: "\e90e";
}
.icon-icon-facebook:before {
  content: "\e90f";
}
.icon-icon-facebook-circle:before {
  content: "\e910";
}
.icon-icon-info:before {
  content: "\e911";
}
.icon-icon-instagram:before {
  content: "\e912";
}
.icon-icon-instagram-circle:before {
  content: "\e913";
}
.icon-icon-like:before {
  content: "\e914";
}
.icon-icon-linkedin:before {
  content: "\e915";
}
.icon-icon-minus:before {
  content: "\e916";
}
.icon-icon-next-right:before {
  content: "\e917";
}
.icon-icon-ordering:before {
  content: "\e918";
}
.icon-icon-payment:before {
  content: "\e919";
}
.icon-icon-pinterest-circle:before {
  content: "\e91a";
}
.icon-icon-plus:before {
  content: "\e91b";
}
.icon-icon-plus-thin:before {
  content: "\e91c";
}
.icon-icon-prev-left:before {
  content: "\e91d";
}
.icon-icon-returns:before {
  content: "\e91e";
}
.icon-icon-review-order:before {
  content: "\e91f";
}
.icon-icon-search:before {
  content: "\e920";
}
.icon-icon-shipping:before {
  content: "\e921";
}
.icon-icon-shop:before {
  content: "\e922";
}
.icon-icon-shopping-cart:before {
  content: "\e923";
}
.icon-icon-store:before {
  content: "\e924";
}
.icon-icon-support:before {
  content: "\e925";
}
.icon-icon-twitter:before {
  content: "\e926";
}
.icon-icon-user:before {
  content: "\e927";
}
.icon-icon-user-login:before {
  content: "\e928";
}
.icon-icon-user-reg:before {
  content: "\e929";
}
.icon-icon-whatsapp:before {
  content: "\e92a";
}
.icon-icon-whatsapp-circle:before {
  content: "\e92b";
}
.icon-icon-youtube:before {
  content: "\e92c";
}
.icon-icon-youtube-2:before {
  content: "\e92d";
}
.icon-icon-youtube-circle:before {
  content: "\e92e";
}
.icon-iocn-minus-thin:before {
  content: "\e92f";
}