 // this is area is for reserved class
#main-container { height:100%; height: auto !important; min-height:100%; }
.hide { position:relative;}
.ease,a,input[type="submit"],button { @include transition(all 0.5s ease); }
.ease2 { @include transition(all 0.3s ease); }
.ease-none { @include transition(none); }
.auto { max-width:$width1; margin-left: auto; margin-right: auto; }
#main-wrapper {  }
.fl { float:left; }
.fr { float:right; }
.clr { display: block; float:none; clear:both; }
.flex { display: flex; }
.flex-start { align-items: flex-start; }
.flex-center { align-items: center; }
.flex-bottom { align-items: flex-end; }
.flex-row-reverse { flex-direction: row-reverse; }
.flex-xs { display: flex; }
@include breakpoint(tablet2) {
	.text-center-xs { text-align: center; }
	.text-left-xs { text-align: left; }
	.text-right-xs { text-align: right; }
}
@include breakpoint(sm) {
	.flex-sm { display: flex; }
	.flex-sm-row-none { flex-direction: inherit; }
	.flex-sm-row-reverse { flex-direction: row-reverse; }
	.text-center-sm { text-align: center; }
	.text-left-sm { text-align: left; }
	.text-right-sm { text-align: right; }
}
@include breakpoint(md) {
	.flex-md { display: flex; }
	.flex-md-row-none { flex-direction: inherit; }
	.flex-md-row-reverse { flex-direction: row-reverse; }
	.text-center-md { text-align: center; }
	.text-left-md { text-align: left; }
	.text-right-md { text-align: right; }
}
@include breakpoint(lg) {
	.flex-lg { display: flex; }
	.flex-lg-row-none { flex-direction: inherit; }
	.flex-lg-row-reverse { flex-direction: row-reverse; }
	.text-center-lg { text-align: center; }
	.text-left-lg { text-align: left; }
	.text-right-lg { text-align: right; }
}
.bp-set { display:inline-block; *display:inline;
  &.vm { vertical-align:middle; }
  &.vt { vertical-align:top; }
  &.vb { vertical-align:bottom; }
}

.no-wrap { white-space: nowrap; }
@include breakpoint(tablet2) {
	.mob-no-wrap { white-space: nowrap; }
}

.bp-ios-touch { overflow-scrolling: touch; -webkit-overflow-scrolling: touch; }
.bp-scrollbar {
	&::-webkit-scrollbar { width:7px; background:#fff; }

	/* Track */
	&::-webkit-scrollbar-track { -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);  }

	/* Handle */
	&::-webkit-scrollbar-thumb { background: #000; }
}

.bp-box { @include box-sizing(border-box); }
.bp-rel { position:relative; }
.bp-ab { position:absolute; }

.co-black { color: $coBlack; }
.co-white { color: $coWhite; }
.co-nude-1 { color: $coNude1; }
.co-blue-1 { color: $coBlue1; }
.co-gray-1 { color: $coGray1; }
.co-gray-2 { color: $coGray2; }
.co-gray-3 { color: $coGray3; }

.bg-gray-7 { background-color: $coGray7; }
.bg-gray-9 { background-color: $coGray9; }
.bg-gray-10 { background-color: $coGray10; }

.pad-edge { padding-left: 15px; padding-right: 15px; }
.bp-img {
  img { max-width: 100%; height: auto; }
  &.wide img { display: block; width: 100%; }
}

@include breakpoint(tablet2) {
	.mob-pull-img { margin-left: -15px; margin-right: -15px; }
	.mob-text-center { text-align: center; }
}

.mobile-input { @include appearance(none); @include border-radius(0); }
.bp-nocurve { @include border-radius(0); }
.bp-curve { @include border-radius(5px); }
.bp-circle { @include border-radius(50%); }
.bp-centralize { @include transform(translate3d(0, -50%, 0)); }
.bp-centralize2 { @include transform(translate3d(-50%, 0, 0)); }
.bp-centralize3 { @include transform(translate3d(-50%, -50%, 0)); }

.bp-shadow { box-shadow: 0 10px 20px 0 rgba($coBlack, 0.05); }
.bp-shadow2 { box-shadow: 0 10px 20px 0 rgba($coBlack, 0.10); }

.no-margin { margin: 0; }
.no-padding { padding: 0; }
.pt1{padding-top:$spaceOne}
.pt2{padding-top:$spaceTwo;  }
.pt3{padding-top:$spaceThree; }
.pt4{padding-top:$spaceFour; }
.pt5{padding-top:$spaceFive; }
.pt7{padding-top: 70px; }
.pb1{padding-bottom:$spaceOne}
.pb2{padding-bottom:$spaceTwo; }
.pb3{padding-bottom:$spaceThree; }
.pb4{padding-bottom:$spaceFour; }
.pb5{padding-bottom:$spaceFive; }
.pb7{padding-bottom: 70px; }

.pdr-1 { padding-right: 10px; }

.mt1{margin-top:$spaceOne}
.mt2{margin-top:$spaceTwo; }
.mt3{margin-top:$spaceThree; }
.mt4{margin-top:$spaceFour; }
.mt5{margin-top:$spaceFive; }
.mt6{margin-top: 60px; }
.mt7{margin-top: 70px; }
.mt8{margin-top: 80px; }
.mt9{margin-top: 90px; }
.mt10{margin-top: 100px; }
.mb1{margin-bottom:$spaceOne}
.mb2{margin-bottom:$spaceTwo; }
.mb3{margin-bottom:$spaceThree; }
.mb4{margin-bottom:$spaceFour; }
.mb5{margin-bottom:$spaceFive; }
.mb6{margin-bottom: 60px; }
.mb7{margin-bottom: 70px; }
.mb8{margin-bottom: 80px; }
.mb10{margin-bottom: 100px; }

@include breakpoint(tablet2) {
	.pt2 { padding-top: 10px; }
	.pt3 { padding-top: 20px; }
	.pt4 { padding-top: 30px; }
	.pt5 { padding-top: 35px; }
	.pt7 { padding-top: 40px; }
	.pb2 { padding-bottom: 10px; }
	.pb3 { padding-bottom: 20px; }
	.pb4 { padding-bottom: 30px; }
	.pb5 { padding-bottom: 35px; }
	.pb7 { padding-bottom: 40px; }
	.mt2 { margin-top: 10px; }
	.mt3 { margin-top: 20px; }
	.mt4 { margin-top: 30px; }
	.mt5 { margin-top: 35px; }
	.mt6 { margin-top: 30px; }
	.mt7 { margin-top: 40px; }
	.mt8 { margin-top: 50px; }
	.mt9 { margin-top: 60px; }
	.mt10 { margin-top: 70px; }
	.mb2 { margin-bottom: 10px; }
	.mb3 { margin-bottom: 20px; }
	.mb4 { margin-bottom: 30px; }
	.mb5 { margin-bottom: 35px; }
	.mb6{margin-bottom: 30px; }
	.mb7{margin-bottom: 40px; }
	.mb8{margin-bottom: 50px; }
	.mb9{margin-bottom: 60px; }
	.mb10 { margin-bottom: 70px; }

	.mob-mt1 { margin-top: 10px; }
	.mob-mt2 { margin-top: 20px; }
	.mob-mt3 { margin-top: 30px; }
	.mob-mt4 { margin-top: 40px; }
	.mob-mt5 { margin-top: 50px; }

	.mob-mb1 { margin-bottom: 10px; }
	.mob-mb2 { margin-bottom: 20px; }
	.mob-mb3 { margin-bottom: 30px; }
	.mob-mb4 { margin-bottom: 40px; }
	.mob-mb5 { margin-bottom: 50px; }

	.mob-no-padding { padding: 0; }
}

@include breakpoint(mobile2) {
	.mt10 { margin-top: 60px; }
	.mb10 { margin-bottom: 60px; }
}

.bp-preloader { z-index: 9999; position:fixed; top: 0; left: 0; width:100%; height:100%; background-color: $coWhite; overflow:hidden; }
.spinner { position: absolute; width:80px; height:80px; top: 50%; left: 50%; margin-left:-40px; margin-top:-40px; @include animation(rotatee 2.0s infinite linear); }
.s-dot { display: inline-block; position: absolute; width:60%; height:60%;  top: 0; background-color:$coBlack; @include border-radius(100%); @include animation(bouncee 2.0s infinite ease-in-out); }
.s-dot2 { top: auto; bottom: 0px; @include animation-delay( -1.0s); }
@include keyframes(rotatee) { 100% { @include transform(rotate(360deg)); } }
@include keyframes(bouncee) { 0%, 100% { @include transform(scale(0.0)); } 50% { @include transform(scale(1.0)); } }

// you can include here the rest of your class name eg. home page
.anim-content, .animated, .animate, .tween { opacity: 0; }
.animated.visible { opacity: 1; }
.anim-content.visible { @include animation(animRun 0.5s ease forwards); }
@include keyframes(animRun) {
	0% { opacity: 0; @include transform(translateY(40px)); }
	100% { opacity: 1; @include transform(translateY(0)); }
}

// for flexslider
.flexslider { margin: 0; border: 0;
	ul.slides {
		> li {
			.animate {
				> * { opacity: 0; @include animation(none); }
			}
			&.flex-active-slide {
				.animate {
					> * { @include animation(animRun 0.5s ease forwards); }
				}
			}
		}
	}
}

// for containers
.container-fluid {
	&.no-padding { padding: 0; }
	> .container { padding-left: 0; padding-right: 0; }

	@include breakpoint(lg) { padding-left: 40px; padding-right: 40px; }
}

.container {
	&.width-1 { max-width: $width1; }
	&.width-2 { max-width: $width2; }
	&.width-3 { max-width: $width3; }
	&.width-4 { max-width: $width4; }
	&.width-5 { max-width: $width5; }
	&.width-6 { max-width: $width6; }
	&.width-7 { max-width: $width7; }
}

// for backgrounds
.bp-banner { background-position: 50% 50%; background-repeat: no-repeat; background-size: cover; }
.parallax { background-attachment: fixed; @extend .bp-banner; overflow: hidden;
  &.bp-ab { top: 0; left: 0; width: 100%; height: 100%; }
  &.top { background-attachment: inherit; background-position: 50% 50% !important; }
  &.cover { position: absolute; z-index: 2; top: 0; left: 0; width: 100%; height: 100%; opacity: 0.6; background-image: linear-gradient(0deg, $coBlack 0%, rgba($coBlack,0.00) 59%);
  	&.red { background-color: rgba(#7e1e1e, 0.5); }
  }
}
.banner-main { z-index: 3; position: relative; }
html.bp-touch {
  .parallax { background-attachment: inherit; background-position: 50% 50% !important; }
}

// for buttons
.button { display: inline-block; padding: 10px 30px; text-align: center;
	> * { display: inline-block; vertical-align: middle; padding-left: 5px; padding-right: 5px;
		&:first-child { padding-left: 0; }
		&:last-child { padding-right: 0; }
	}
	&.btn-black { background-color: $coBlack; color: $coWhite; }
	&.btn-gray4 { background-color: $coGray4; color: $coWhite; }
	&.btn-blue { background-color: $coBlue1; color: $coWhite; }

	&.btn-size-1 { min-width: 140px; padding: 15px 30px; }
	&.btn-size-2 { min-width: 255px; padding: 16px 30px; }
	&.btn-size-3 { min-width: 190px; min-height: 50px; padding: 15px 30px; }
	&.btn-wide { display: block; width: 100%; min-width: 0; }

	&.btn-border { border: 1px solid $defaultColor;
		&.btn-black { background-color: transparent; border-color: $coBlack; color: $coBlack; }
		&.btn-gray4 { background-color: transparent; border-color: $coGray4; color: $defaultColor; }
		&.btn-blue { background-color: transparent; border-color: $coBlue1; color: $coWhite; }

		&.btn-size-1 { padding: 14px 30px; }
		&.btn-size-2 { padding: 15px 30px; }
		&.btn-size-3 { padding: 14px 30px; }
	}

	&:hover {
		&.btn-black { background-color: lighten($coBlack, 15%); color: $coWhite; }
		&.btn-gray4 { background-color: $defaultColor; color: $coWhite; }
		&.btn-blue { background-color: darken($coBlue1, 5%); border-color: darken($coBlue1, 5%); color: $coWhite; }
	}
}
button.button { border: none; @extend .mobile-input; }

// for owl carousel
.owl-carousel {
	.owl-item {
		.animate {
			> * { opacity: 0; @include animation(none); }
		}
		&.active {
			.animate {
				> * { @include animation(animRun 0.5s ease forwards); }
			}
		}
	}
}
.nav-1 {
	&.owl-carousel {
		.owl-nav {
			button { position: absolute; top: 50%; width: 60px; height: 60px; border: 1px solid $coGray4; background-color: $coWhite; outline: none !important; @extend .bp-centralize, .bp-circle;
				&:after { opacity: 0.5; content: ''; position: relative; top: 2px; font-family: $icomoon; font-size: 20px; line-height: 1.0; @extend .ease2; }
				> span { display: none; }
				&.owl-prev { left: 0;
					&:after { content: '\e91d'; }
				}
				&.owl-next { right: 0;
					&:after { content: '\e917'; }
				}

				&:hover {
					&:after { opacity: 1; }
				}
			}
		}

		@include breakpoint(lg) {
			.owl-nav {
				button {
					&.owl-prev { left: -30px; }
					&.owl-next { right: -30px; }
				}
			}
		}

		@include breakpoint(tablet) {
			.owl-nav {
				button { width: 40px; height: 40px;
					&:after { font-size: 16px; }
				}
			}
		}
	}

	.flex-direction-nav {
		a { width: auto; height: auto;
			&:before { font-size: 26px; font-family: $icomoon; }
		}
		.flex-prev {
			&:before { content: '\e902'; }
		}
		.flex-next {
			&:before { content: '\e903'; }
		}
	}
}
.nav-2 {
	&.owl-carousel {
		.owl-nav {
			button { position: absolute; top: 0; width: 100%; height: 100%; outline: none !important;
				&:before {  position: absolute; top: 50%; color: $coWhite; font-family: $icomoon; font-weight: 300; font-size: 50px; @extend .bp-centralize; }
				> span { text-indent: -999px; }
				&.owl-prev { right: 100%;
					&:before { right: 20px; content: '\e902'; }
				}
				&.owl-next { left: 100%;
					&:before { left: 20px; content: '\e903'; }
				}

				@include breakpoint(xl) {
					&.owl-prev:before { right: 50px; }
					&.owl-next:before { left: 50px; }
				}
				@include breakpoint(macbook) {
					&.owl-prev:before { right: 35px; }
					&.owl-next:before { left: 35px; }
				}
			 }
		}
	}
}
.car-1 {
	&.owl-carousel {
		.owl-dots {  position: relative; text-align: center; @extend .mt3; }

		button { display: inline-block; vertical-align: middle; margin-right: 10px; outline: none !important;
			&:last-child { margin-right: 0; }
			&.owl-dot { width: 10px; height: 10px; background-color: $coGray12; @extend .bp-circle, .ease2;
				&.active { background-color: $coBlue1; }
			}
		}
	}
}

.car-2 {
	&.owl-carousel {
		.owl-dots { position: absolute; bottom: 20px; left: 0; width: 100%; text-align: center; }
		button { position: relative; display: inline-block; vertical-align: middle; margin-right: 12px; outline: none !important;
			&:last-child { margin-right: 0; }
			&.owl-dot { width: 6px; height: 6px; background-color: $coGray13; @extend .bp-circle, .ease2;
				&:before { opacity: 0; content: ''; position: absolute; top: 50%; left: 50%; width: 10px; height: 10px; background-color: $coYellow2; @extend .bp-circle, .ease2, .bp-centralize3; }
				&:hover { background-color: $coYellow2; }
				&.active {
					&:before { opacity: 1; }
				}
			}
		}
	}
}

// for products
[product-carousel] {  }
[product-carousel="type1"] { position: relative; width: 100%; overflow: hidden;
	.owl-carousel {
		.owl-item { opacity: 0.2; @extend .ease2;
			&.active { opacity: 1; }
		}
		.owl-stage-outer { overflow: visible;
			&:before, &:after { z-index: 10; content: ''; position: absolute; top: 0; width: 100%; height: 100%; }
			&:before { left: 100%; }
			&:after { right: 100%; }
		}

		&.nav-1 {
			.owl-nav {
				button { margin-top: -5%; }
			}
		}
	}

	@include breakpoint(desktop) {
		.owl-carousel.nav-1 .owl-nav button { margin-top: -7%; }
	}

	@include breakpoint(tablet) {
		.owl-carousel.nav-1 .owl-nav button { margin-top: -10%; }
	}

	@include breakpoint(phablet) {
		// .nav-1.owl-carousel .owl-nav button { margin-top: 0px; }

		// .owl-nav { display: flex; align-items: center; justify-content: space-between; margin-top: 20px;
		// 	button { position: relative; top: 0; @include transform(translate3d(0,0,0));
		// 		&.owl-prev { left: 0; }
		// 		&.owl-next { right: 0; }
		// 	}
		// }
	}
}

[product-carousel="type2"] { position: relative; width: 100%; overflow: hidden; background-color: $coBlack;
	.owl-carousel {
		.owl-item { opacity: 0.8; @extend .ease2;
			.bs-se-col.main { opacity: 0; @extend .ease; }
			&.active { opacity: 1;
				.bs-se-col.main { opacity: 1; }
			}
		}
		.owl-stage-outer { overflow: visible; }
	}
}

.in-co-top { background-color: $coGray7; @extend .pt3, .pb3; }
.in-co-banner { position: relative; padding-top: 27.25%;
	@include breakpoint(laptop) { padding-top: 40%; }
	@include breakpoint(phablet) { padding-top: 70%; }
}
.ic-ba-col { 
	&.main { z-index: 3; position: absolute; bottom: 0; left: 0; width: 100%; }
}

// for rows
.row {
	[class*="col"] {
		&[class*="mb"] {
			&:last-child { margin-bottom: 0; }
		}
	}

	&.row-simple { margin-left: 0; margin-right: 0;
		[class*="col-"] { padding-left: 0; padding-right: 0; }
	}

	@include breakpoint(lg) {
		&.row-large { margin-left: -25px; margin-right: -25px;
			[class*="col-"] { padding-left: 25px; padding-right: 25px; }
		}
	}
}

.select-country.loading {
	position: relative;
	&:before {
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
		background: #fff;
		opacity: .8;
		z-index: 1;
	}
}

.select2-container--default {
	.select2-selection--single {
		border-color: #e5e5e5;

		.select2-selection__rendered {
			line-height: 50px;
		}
		.select2-selection__arrow {
			height: 50px;
		}
	}
	.select2-search--dropdown .select2-search__field {
		height: 40px;
	}
}
.fancybox-content .select2-container,
.select2-container--open {
	z-index: 99999;
}
.select2-container {
	.select2-selection--single {
		height: 50px;
		border-radius: 0px;
		.select2-selection__rendered {
			padding-left: 20px;
		}
	}
}
.select2-results__option {
	font-size: 14px;
	padding-left: 20px;
}

.input-text {
	height: 50px;
	padding: 12px 20px;
}

.img-flag {
	max-width: 35px;
	display: inline-block;
	border-radius: 1px solid rgba(0,0,0,0.1);
	margin-right: 5px;
	img {
		width: 100%;
	}
}
