// include all your new classess here that is intended for mobile. Only if necessary but please use breakpoints mixins
.bp-desktop { }
.bp-mobile { display: none; }

@include breakpoint(tablet2) {
	.bp-desktop { display: none; }
	.bp-mobile { display: block; }
}

.bp-desktop2 { }
.bp-mobile2 { display: none; }

@include breakpoint(tablet2) {
	.bp-desktop2 { display: none; }
	.bp-mobile2 { display: block; }
}