.fancybox-bg { background-color: rgba($coWhite, 0.9); }
.fancybox-close-small { width: auto; height: auto; outline: none !important; }
.fancybox-slide--html { padding: 15px;
	.fancybox-close-small { padding: 25px; }

	@include breakpoint(phablet) {
		.fancybox-close-small { opacity: 1; padding: 15px; background-color: $defaultColor; color: $coWhite; }
	}
}

.popup-content { padding: 50px; @extend .bp-shadow2;
	&.no-padding { padding: 0; }
	&.pc-width-1 { max-width: 950px; }

	@include breakpoint(phablet) { padding: 35px 20px 20px 20px; }
}

.ne-po-row { display: table; width: 100%;
	> * { display: table-cell; vertical-align: top; width: 100%;
		&.banner { min-width: 285px; width: 285px; @extend .parallax, .parallax.top; }
	}

	@include breakpoint(tablet2) { display: block; width: auto;
		> * { display: block; width: auto; }
	}
}

.ne-po-col {
	&.main { padding: 50px; }

	@include breakpoint(phablet) {
		&.main { padding: 20px; }
	}
}

.np-co-col {
	&.top { min-height: 190px; }

	@include breakpoint(tablet2) {
		&.top { min-height: 0; }
	}
}

#newsletter-popup {
	@include breakpoint(tablet2) { max-width: 285px;
		.button { width: 100%; }
	}
}