.pr-re-nav {
	> li { position: relative; display: inline-block; visibility: top; margin-left: 25px; margin-right: 25px;
		&:first-child { margin-left: 0; }
		&:last-child { margin-right: 0; }
		&:after { opacity: 0; content: ''; display: block; position: absolute; top: 100%; left: 50%; width: 0; height: 1px; background-color: $defaultColor; @extend .ease2; }

		a { display: block; color: inherit; }

		&:hover, &.active {
			&:after { opacity: 1; left: 0; width: 100%; }
		}
		&.active { cursor: default;
			a { cursor: default; }
		}
	}
}