.co-pr-ctrl {
	> * { margin-right: 60px;
		&:last-child { margin-right: 0; }
	}
}

.cp-ct-list {
	> li { display: inline-block; vertical-align: top; margin-right: 60px;
		&:last-child { margin-right: 0; }
	}

	&.col2 { margin-left: -8px; margin-right: -14px;
		> li { width: 50%; padding-left: 10px; padding-right: 10px; margin-left: -2px; margin-right: -2px; margin-bottom: 20px;
			&:last-child { margin-bottom: 0; }
		}
	}

	&.col4 { margin-left: -8px; margin-right: -14px;
		> li { width: 25%; padding-left: 10px; padding-right: 10px; margin-left: -2px; margin-right: -2px; margin-bottom: 20px;
			&:last-child { margin-bottom: 0; }
		}
	}

	@include breakpoint(phablet) {
		> li { display: block; margin-right: 0; margin-bottom: 20px;
			&:last-child { margin-bottom: 0; }
		}
	}
}

.co-pr-list {
	&.col4 { margin-left: -13px; margin-right: -13px;
		> li { display: inline-block; vertical-align: top; width: 25%; padding-left: 15px; padding-right: 15px; margin-left: -2px; margin-right: -2px; margin-bottom: 30px;
			&:last-child { margin-bottom: 0; }
		}
	}

	@include breakpoint(tablet2) {
		&.col4 {
			> li { width: 50%; }
		}
	}
}

.co-pr-set {
	> .bp-img img { @extend .ease2; }
	.in-co-par {
		p { margin-bottom: 7px; }
		> * {
			&:last-child { margin-bottom: 0; }
		}
		&.fz-14 {
			p {
				small { font-size: 12px; }
			}
		}
	}

	&:hover {
		> .bp-img img { @include transform(translate3d(0,-10px,0)); }
		.co-pr-tag.top-left { @extend .co-pr-tag.top-left.active; }
	}
}

.co-pr-tag {
	&.top-left { z-index: 2; position: absolute; top: 0; left: 0; min-width: 78px; padding: 10px 20px; margin: 10px; pointer-events: none; background-color: $coBlue3; color: $coWhite; text-align: center; @extend .ease2;
		&.bg-pink { background-color: $coNude3; }

		&:hover, &.active { background-color: $coBlue1; 
			&.bg-pink { background-color: darken($coNude3, 10%); }
		}
	}

	@include breakpoint(phablet) {
		&.top-left { margin: 0; padding: 8px 15px; }
	}
}

.co-pr-pagination { text-align: center;
	> li { display: inline-block; vertical-align: top; margin-left: 3px; margin-right: 3px;
		&:first-child { margin-left: 0; }
		&:last-child { margin-right: 0; }
		a { display: table-cell; vertical-align: middle; width: 40px; height: 40px; border: 1px solid rgba($coBlack, 0.1); text-align: center; color: inherit; }
		&:hover, &.active {
			a { background-color: $coBlue1; color: $coWhite; border-color: $coBlue1; }
		}
		&.active {
			a { cursor: default; }
		}
	}

	@include breakpoint(phablet) {
		> li {
			a { width: 30px; height: 30px; }
		}
	}
}

.product-slider {
	.pr-sl-carousel {
		&.flexslider {
			.slides { width: 100% !important; display: flex; justify-content: center; }
		}
	}
}

.pr-form-group { @extend .con-form-group;
	.form-group { margin-bottom: 20px; }
}

.pr-co-colors {
	> li { display: inline-block; vertical-align: top; margin-right: 8px;
		&:last-child { margin-right: 0; }
		&.active {
			.pc-co-icon	{ @extend .pc-co-icon.active; }
		}
	} 
}

.pc-co-icon { display: block; width: 34px; height: 34px; border: 2px solid transparent; cursor: pointer; @extend .bp-circle;
	&:hover, &.active { border-color: $defaultColor; }
}

.pr-co-list {
	> li { display: flex; margin-bottom: 8px;
		&:last-child { margin-bottom: 0; }

		> * { padding-right: 10px;
			&.icon { min-width: 10px; }
			&:last-child { padding-right: 0; }
		}
	}
}

.pr-ins-list { margin-left: 0 !important;
	> li { display: inline-block; vertical-align: middle; margin-right: 10px;
		&:last-child { margin-right: 0; }
	}
}

.pr-fi-col {
	&.title { @extend .bp-se-col, .bp-se-col.title2; }
	&.main { padding: 15px 20px; @extend .bp-shadow, .bp-curve; }
}

.wpmc-nav-wrapper {
	overflow: hidden;
}