.co-pr-row {
	@include breakpoint(md) { margin-left: -15px; margin-right: -15px;
		.co-pr-col { width: 100%; padding-left: 15px; padding-right: 15px;
			&.short { width: 360px; }
		}
	}
}
.co-pr-nav { text-transform: uppercase;
	> li { border-bottom: 1px solid $coGray8;
		a { display: block; padding: 20px 0; color: $defaultColor; }
		&:hover, &.active { color: $coBlack; }
		&.active { font-weight: 600;
			a { cursor: default; }
		}
	}

	@include breakpoint(tablet2) {
		> li {
			&:first-child {
				a { padding-top: 0; }
			}
			&:last-child { border-bottom: none;
				a { padding-bottom: 0; }
			}
		}
	}
}