.bp-select { position: relative;
	select { display: none; }
	&.select-active {
		.bp-se-col.title { @extend .bp-se-col.title.active; }
		.bp-se-col.list { @extend .bp-se-col.list.active; }
	}

	&.select-mobile {
		select { opacity: 0; z-index: 5; display: block; position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
	}
}

.bp-se-col { position: relative; padding: 15px; border: 1px solid rgba($coBlack, 0.10); @extend .bp-img, .bp-img.wide;
	.icon { max-width: 35px; border: 1px solid rgba($coBlack, 0.10); }

	&.title { display: flex; align-items: center; cursor: pointer;
		> * { margin-left: 5px; margin-right: 5px;
			&:first-child { margin-left: 0; }
			&:last-child { margin-right: 0; }
		}

		&:after { content: '\e901'; display: block; position: absolute; top: 50%; right: 15px; font-family: $icomoon; font-size: 12px; pointer-events: none; @extend .bp-centralize, .ease2; }
		.icon { border: 1px solid rgba($coBlack, 0.10); }

		&.active {
			&:after { @include transform(rotate(-180deg) translate3d(0,50%,0)); }
		}
	}

	&.title2 { height: 50px; padding-left: 20px; padding-right: 20px; background-color: $coWhite;
		&:after { content: ''; right: 20px; width: auto; height: auto; background: transparent; border-top: 6px solid $defaultColor; border-left: 7px solid transparent; border-right: 7px solid transparent; }
	}

	&.list { opacity: 0; z-index: 10; position: absolute; top: 100%; left: 0; width: 100%; min-width: 150px; max-height: 350px; padding: 0; margin-top: 5px; background-color: $coWhite; pointer-events: none; overflow: auto; transform-origin: 50% 0; -webkit-transform-origin: 50% 0; @include transform(scale(0.75) translateY(-21px)); @include transition(all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out); @extend .bp-curve, .bp-ios-touch, .bp-scrollbar;
		border: none; @extend .bp-shadow;
		> li { display: flex; align-items: center; padding: 15px; cursor: pointer; @extend .ease;
			> * { margin-left: 5px; margin-right: 5px;
				&:first-child { margin-left: 0; }
				&:last-child { margin-right: 0; }
			}

			&:hover { background-color: $coBlue3; color: $coWhite; }
			&.active, &.selected { background-color: $coBlue1; color: $coWhite; }
		}

		&.active { opacity: 1; pointer-events: auto; @include transform(scale(1) translateY(0)); }
	}

	&.list2 { background-color: $coWhite; }
}

.cf-select {
	.bp-se-col { background-color: $coWhite;
		&.title { @extend .bp-se-col.title2; }
		&.list { @extend .bp-se-col.list2; }
	}
}

.sg-select { @extend .cf-select; }
table {
	.sg-select { width: 93px; }
}

.cp-select { @extend .cf-select;
	.bp-se-col {
		&.title { height: auto; padding: 0 30px 0 0; background: transparent; border: none;
			&:after { right: 0; }
		}
		&.list { border: none; @extend .bp-shadow; }
	}
}

.pr-select { @extend .cf-select;
	.bp-se-col {
		&.title { border-color: $coGray4; }
	}
}