.sh-ca-nav { display: table; width: 100%; text-align: center;
	> li { position: relative; display: table-cell; vertical-align: top; width: 20%; overflow: hidden;
		&.current {
			.sc-na-main { @extend .sc-na-main.current; }
			.sc-na-icon {  @extend .sc-na-icon.current; }
		}
		&:before { border: none !important; }
	}

	@include breakpoint(mobile2) {
		> li {
			> .mt2 { display: none; }
		}
	}
}

.sc-na-main { position: relative; display: inline-block;
	&:before, &:after { content: ''; display: block; position: absolute; top: 50%; width: 100%; min-width: $width1; height: 2px; background-color: $coGray9; @extend .bp-centralize; }
	&:before { right: 100%; }
	&:after { left: 100%; }
	&.current {
		&:before, &:after { background-color: $coGray1; }
	}

	@include breakpoint(mobile2) {
		&:before, &:after { display: none; }
	}
}
.sc-na-icon { position: relative; display: table-cell; vertical-align: middle; text-align: center; width: 40px; height: 40px; background-color: $coGray9; color: $coWhite; font-weight: 600; @extend .bp-circle, .fz-20;
	&.current { background-color: $coGray1; }
}

.sh-ca-title {
	> * { margin: 0 10px;
		&:first-child { margin-left: 0; }
		&:last-child { margin-right: 0; }
		> * { margin-bottom: 0;
			&:last-child { margin-bottom: 0; }
		}
		.bp-title { text-align: left; line-height: 29px; }
	}
}

.sh-ca-dir {
	> * { margin-left: 10px; margin-right: 10px;
		&:first-child { margin-left: 0; }
		&:last-child { margin-right: 0; }
		> * {
			&:last-child { margin-bottom: 0; }
		}
	}

	.sh-ca-dir {
		> * { margin-left: 5px; margin-right: 5px;
			&:first-child { margin-left: 0; }
			&:last-child { margin-right: 0; }
		}
	}

	@include breakpoint(mobile) {
		&.mob-col1 { display: block;
			> * { margin-left: 0; margin-right: 0; margin-bottom: 20px;
				&:last-child { margin-bottom: 0; }
			}
		}

		&.col2 {
			> * { margin-left: 5px; margin-right: 5px;
				&:first-child { margin-left: 0; }
				&:last-child { margin-right: 0; }

				&.button { max-width: calc(50% - 5px); min-width: calc(50% - 5px); }
			}
		}
	}
}

.table-sg { width: 100%;
	th, td { padding: 15px;
		&.col-med { width: 30%; }
		&.col-half { width: 50%; }
		&.pdr-2 { padding-right: 20px; }
		&.text-right { white-space: nowrap; }
	}
	th { font-weight: normal; background-color: $coYellow1; @extend .fz-12; }
	td { font-weight: 500; border-bottom: 1px solid $coGray8; }

	@include breakpoint(tablet2) {
		.bp-img { min-width: 93px; }
		.sg-qty-select {
			button, .form-control { height: 32px; }
		}
		.bp-select {
			.bp-se-col.title { padding: 5px 10px; height: 34px;
				&:after { right: 10px; }
			}
		}
	}
}
.table-sc { @extend .table-sg; }

.mob-pull-img {
	> .table-sg {
		tr {
			th, td { padding-left: 10px; padding-right: 10px;
				&:first-child { padding-left: 15px; }
				&:last-child { padding-right: 15px; }
			}
		}
	}
}

.sg-qty-select { min-width: 132px; border: 1px solid rgba($coBlack, 0.1);
	&.bp-set { display: block; margin-left: auto; margin-right: auto; }
	> * { float: left; }
	button, .form-control { height: 48px; border: none; background: transparent; outline: none !important; box-shadow: none !important; text-align: center; @extend .mobile-input; }
	button { width: 40px; font-size: 11px;
		&:after { content: ''; display: inline-block; font-family: $icomoon; }
		&.btn-minus {
			&:after { content: '\e92f'; }
		}
		&.btn-plus {
			&:after { content: '\e91c'; }
		}
	}
	.form-control { width: 50px; padding: 0; }
	&:after { content: ''; display: block; float: none; clear: both; }
}

.cou-input-group {
	button, .form-control { outline: none !important; box-shadow: none !important; height: 50px; @extend .mobile-input; }
	.form-control { padding: 15px; border: 1px solid rgba($coBlack, 0.1); font-size: inherit;
		@include placeholder{ font-style: italic; }
	}
	button { min-width: 145px; background-color: $coBlue1; color: $coWhite; text-transform: uppercase; color: $coWhite; font-weight: 600;
		&:hover { background-color: darken($coBlue1, 10%); }
	}
}

.sc-tot-list {
	> li { margin-bottom: 20px; display: flex; align-items: center;
		&.flex-start { align-items: flex-start; }
		&:last-child { margin-bottom: 0; }
		> * { margin-left: 5px; margin-right: 5px;
			&:first-child { margin-left: 0; }
			&:last-child { margin-right: 0; }
			&.title { min-width: 100px; font-weight: bold; }
			> * {
				&:last-child { margin-bottom: 0; }
			}
		}
	}
}

.co-sh-list {
	> li { margin-bottom: 20px;
		&:last-child { margin-bottom: 0; }
	}

	@include breakpoint(phablet) {
		> li { margin-bottom: 25px; }
	} 
}

.cs-li-check { display: flex; align-items: center; @extend .bp-img;
	> * { margin-right: 20px;
		&:last-child { margin-right: 0; margin-bottom: 0; }
		* {
			&:last-child { margin-bottom: 0; }
		}

		&.d-flex {
			> * { margin-right: 20px;
				&:last-child { margin-right: 0; }
			}
		}
	}
	.bp-img { min-width: 100px; text-align: center; }

	p { line-height: 24px; }
	input[type="radio"] { display: block; width: 22px; height: 22px; padding: 4px; border: 1px solid $coGray11; background: transparent !important; @extend .mobile-input, .bp-circle;
		&:before { opacity: 0; content: ''; display: block; width: 12px; height: 12px; @include transform(scale(0.2)); @extend .bp-circle, .ease2; }
		&:checked {
			&:before { opacity: 1; background-color: $coBlue1; @include transform(scale(1)); }
		}
	}

	@include breakpoint(phablet) { display: block;
		> * { margin-right: 0; margin-bottom: 15px;
			&:last-child { margin-bottom: 0; }
		}
		.cl-ch-col {
			&.capt { margin-left: 42px; }
		}

		.bp-img { text-align: left; }
	}
}

.cf-checkbox { display: flex; align-items: flex-start;
	> * { margin-right: 15px;
		&:last-child { margin-right: 0; }
	}
	input[type="checkbox"] { position: relative; width: 20px; min-width: 20px; font-size: 20px; height: 20px; border: 1px solid rgba($coBlack, 0.1); background-color: $coWhite; outline: none !important; box-shadow: none !important; @extend .mobile-input;
		&:before { opacity: 0; content: '\e906'; display: block; position: absolute; bottom: 0; left: 0; font-family: $icomoon; }
		&:checked {
			&:before { opacity: 1; }
		}
	}
}

.co-sh-box { @extend .bp-shadow;
	.table-sc {
		th, td { padding: 17px;
			&.pdr-2 { padding-right: 25px; }
		}
	}
	.cs-bo-mor { padding-right: 25px; }
}

.cs-bo-mor { padding: 30px 15px; }

.cb-mo-list {
	> li { display: flex; margin-bottom: 20px;
		&:last-child { margin-bottom: 0; }
		> * { width: 100%; margin-left: 10px; margin-right: 10px;
			&:first-child { margin-left: 0; }
			&:last-child { margin-right: 0; }
			&.title { width: 120px; max-width: 120px; font-weight: bold; }
		}
		p { margin-bottom: 0; line-height: 24px; }
		.bp-title { margin-bottom: 0; }
	}
}

.ch-lo-row {
	.cl-ro-col {
		&:last-child { margin-bottom: 0; }
	}
}
.cl-ro-col {
	@include breakpoint(md) {
		&.col-med { width: 42.8%; }
		&.col-half { width: 50%; }
	}
}
.cl-ro-box { background-color: $coWhite; @extend .bp-shadow2;
	.cr-co-col { padding-left: 50px; padding-right: 50px; }

	@include breakpoint(tablet2) {
		.cr-co-col { padding: 30px 20px; }		
	}
}

.cr-co-col { padding-top: 50px; padding-bottom: 50px;
	&.col-top { padding-bottom: 0; }
	&.col-bottom { padding-top: 0; }

	@include breakpoint(tablet2) { padding-top: 0; padding-bottom: 0;
		&[class*="gh"] { min-height: 0 !important; }
	}
}

.cr-co-ctrl {
	> * { margin-right: 50px;
		&:last-child { margin-right: 0; }
	}

	@include breakpoint(tablet2) {
		> * { margin-right: 20px; }

		&.mob-ctrl { display: block;
			> * { margin-right: 0; margin-bottom: 25px;
				&:last-child { margin-bottom: 0; }
			}
		}
	}
}

.cr-co-sep { position: relative; text-align: center; text-transform: uppercase; overflow: hidden;
	span { position: relative;
		&:before, &:after { content: ''; display: block; position: absolute; background-color: $coGray1; }
	}

	@include breakpoint(tablet2) {
		span { display: inline-block; padding: 0 30px;
			&:before, &:after { top: 50%; width: 100%; min-width: 1000px; height: 1px; @include transform(translate3d(0,-50%,0)); }
			&:before { right: 100%; }
			&:after { left: 100%; }
		}
	}

	@include breakpoint(md) { position: absolute; top: 0; left: 50%; width: 30px; height: 100%;  @include transform(translate3d(-50%,0,0));
		span { display: block; position: absolute; top: 50%; left: 0; width: 100%; padding: 30px 0; text-align: center; @include transform(translate3d(0,-50%,0));
			&:before, &:after { width: 1px; min-width: 0; height: 100%; min-height: 1000px; left: 50%; @include transform(translate3d(-50%,0,0)); }
			&:before { bottom: 100%; }
			&:after { top: 100%; }
		}
	}
}

.link-delete { @extend .link-simple;
	&:hover { color: red; }
}