.float-ease {
	// @include transition(all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1));

	transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
	-webkit-transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
	-moz-transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
	-ms-transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);

	transition-duration: 0.25s;
	-webkit-transition-duration: 0.25s;
	-moz-transition-duration: 0.25s;
	-ms-transition-duration: 0.25s;

	transition-property: left,width,transform,-webkit-transform;
	-webkit-transition-property: left,width,transform,-webkit-transform;
	-moz-transition-property: left,width,transform,-webkit-transform;
	-ms-transition-property: left,width,transform,-webkit-transform;

	will-change: left,width;
	-webkit-will-change: left,width;
	-moz-will-change: left,width;
	-ms-will-change: left,width;

	@include transform(none);

	@include breakpoint(laptop) {
		will-change: initial;
		-webkit-will-change: initial;
		-moz-will-change: initial;
		-ms-will-change: initial;
	}
}

.he-co-floating {
	&.main { z-index: 200; position: fixed; top: 0; left: 0; width: 208px; height: 100%; overflow: auto; @extend .bp-ios-touch; }
	&.cover { display: none; z-index: 199; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba($coWhite, 0.8); }

	@include breakpoint(non-laptop) {
		&.cover { display: none !important; }
	}
}

html {
	#main-wrapper, footer { position: relative; left: 0; width: 100%; @extend .float-ease;
		/*@include transform(translate3d(0,0,0));*/
	}
	.he-co-floating {
		&.main { @include transform(translate3d(-208px,0,0)); @extend .float-ease; }
	}

	&.menu-slide-active {
		#main-wrapper, footer { left: 208px; width: calc(100% - 208px);
			/*@include transform(translate3d(208px,0,0));*/
		}
		.he-co-floating {
			&.main { @include transform(translate3d(0,0,0)); }
		}

		.header-content { background-color: $coWhite; }
	}
}

@include breakpoint(laptop) {
	#main-container, footer { position: relative; overflow-x: hidden; @include transition(none); @include transform(none); }
	.he-co-floating.main, .header-content, #main-wrapper, .footer-content { left: 0; @include transition(all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1) !important); }
	.he-co-floating {
		&.main { left: -208px; height: 100% !important; @include transform(translate3d(0,0,0) !important); }
	}
	.footer-content { width: 100%; }

	html.menu-slide-active {
		#main-wrapper, footer { left: 0; width: 100%; }
		.header-content, #main-wrapper, .footer-content { left: 208px;  }
		.he-co-floating.main { left: 0; }
	}

	.header-up {
		.header-content { @include transform(translate3d(0,-200px,0)); }
	}
}