.store-locator-content { min-height: 750px;
	@include breakpoint(tablet2) { min-height: 0; overflow: hidden; }
}
#store-locator-map { top: 0; left: 0; width: 100%; height: 100%; }
.st-lo-co { z-index: 5; position: relative;
	&.main { position: absolute; top: 0; left: 0; width: auto; height: 100%; padding: 20px; }

	@include breakpoint(xl) {
		&.main { padding: 40px; }
	}

	@include breakpoint(desktop) {
		&.main { width: 40%; }
	}

	@include breakpoint(tablet2) {
		&.main { top: initial; bottom: 0; width: 100%; height: auto !important; padding: 0 15px; }
	}
}
.sl-co-box { position: relative; padding-top: 15px; padding-bottom: 15px; width: calc(400px + 40px); background-color: $coWhite; @extend .bp-shadow2;
	@include breakpoint(desktop) { width: 100%; }
	@include breakpoint(non-tablet2) { @include transform(translate3d(0,0,0) !important); }
	@include breakpoint(tablet2) { position: absolute; bottom: 0; left: 0; min-width: 0; width: 100%; padding-bottom: 0; }
}

.sc-bo-col {
	&.top { padding: 20px; box-shadow: 0 1px 0 0 rgba($coBlack, 0.10); }
	&.main { position: relative; padding-left: 0; padding-right: 0; overflow: auto; @extend .bp-ios-touch;
		&::-webkit-scrollbar { width: 0; background: transparent; }
	}

	@include breakpoint(tablet2) {
		&.top { padding: 15px; }
		&.popup {
			//position: absolute; top: 36px; left: 0; width: 100%; height: ; background-color: $coWhite; overflow: auto; overflow-scrolling: touch; -webkit-overflow-scrolling: touch;
			.sb-co-popup { top: 36px !important; left: 0; width: 100%; height: calc(100% - 36px); padding: 0; background-color: $coWhite; overflow: auto; overflow-scrolling: touch; -webkit-overflow-scrolling: touch; }
			.sc-pop-box { box-shadow: none !important;
				> .arrow { display: none; }
			}
		}
	};
}

.sb-co-col {
	&.title {
		> * { padding-left: 10px; padding-right: 10px;
			&:first-child { padding-left: 0; }
			&:last-child { padding-right: 0; }
		}
	}

	&.arrow { position: absolute; top: 0; left: 50%; padding: 10px; cursor: pointer; font-size: 16px; line-height: 1.0; @extend .bp-centralize2;
		&:after { content: '\e901'; display: block; font-family: $icomoon; @extend .ease2; }
		&.active {
			&:after { @include transform(rotate(180deg)); }
		}
	}

	[class*="icon-"] { font-size: 36px; }
}

.sb-co-form {
	&.input-group { background-color: $coWhite; border: 1px solid $coGray6; background-color: $coWhite;
		.form-control, button { border: none; outline: none !important; box-shadow: none !important; background-color: transparent; @extend .mobile-input; }
		.form-control { height: 45px; font-size: inherit; }
		button { padding: 7px 11px;
			[class*="icon-"] { font-size: 16px; }
		}
	}
}

.sc-bo-list {
	> li {
		&:last-child {
			.sc-bo-set:after { display: none; }
		}
	}
}

.sc-bo-set { position: relative; padding: 20px 15px; cursor: pointer;
	> * { padding-left: 10px; padding-right: 10px;
		&:first-child { padding-left: 0; }
		&:last-child { padding-right: 0; }
		&.icon { min-width: 40px; }
		> * {
			&:last-child { margin-bottom: 0; }
		}
	}

	&:after { content: ''; display: block; position: absolute; bottom: 0; left: 15px; width: calc(100% - 30px); border-bottom: 1px solid rgba($coBlack, 0.10); }
	&:hover, &.selected {
		.sb-li-num { @extend .sb-li-num.active; }
	}

	@include breakpoint(tablet2) { padding: 15px; }
}
.sb-li-num { display: table-cell; vertical-align: middle; width: 30px; height: 30px; background-color: rgba($coBlue1, 0.5); color: $coWhite; text-align: center; @extend .bp-circle, .ease2;
	&:hover, &.active { background-color: rgba($coBlue1, 1); }
}

.sb-co-popup { position: absolute; top: 0; left: 100%; padding-left: 20px;
	@include breakpoint(desktop) { width: 100vw - 40vw;  }
}

.sc-pop-box { position: relative; min-width: 405px; background-color: $coWhite; @extend .bp-shadow2;
	> .arrow { display: block; position: absolute; top: 202px; right: 100%; border-right: 12px solid $coWhite; border-top: 10px solid transparent; border-bottom: 10px solid transparent; }

	@include breakpoint(desktop) { width: 100%; min-width: 0; }
}
.sp-bo-col {
	&.main { position: relative; max-width: 380px; padding: 30px; overflow: auto; }
	&.top { color: $coBlue1;
		> * { display: inline-block; vertical-align: middle; margin-left: 5px; margin-right: 5px;
			&:first-child { margin-left: 0; }
			&:last-child { margin-right: 0; }
		}
		[class*="icon"] { color: $defaultColor; }
	}

	@include breakpoint(tablet2) {
		&.main { padding: 15px; }
		&.top { margin-bottom: 15px; padding: 0 15px; }
	}
}

.sp-bo-list {
	> li { display: flex; justify-content: space-between; }
}

.bl-de-row { margin-left: -15px; margin-right: -15px;
	.bl-de-col { padding-left: 15px; padding-right: 15px;
		&.left { min-width: 105px; }
	}
}