[toggle-group] {
	[toggle-btn] { cursor: pointer; }
	[toggle-main] { display: none; }
}

[toggle-group="type1"], [toggle-group="type4"] {
	[toggle-main] { opacity: 0; z-index: 10; display: block; position: absolute; top: 100%; left: 0; width: 100%; pointer-events: none; transform-origin: 50% 0; -webkit-transform-origin: 50% 0; @include transform(scale(0.75) translateY(-21px)); @include transition(all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out); }

	[toggle-set] { position: relative;
		[toggle-main] { background-color: $coWhite; }
		&.toggle-active {
			[toggle-main] { opacity: 1; pointer-events: auto; @include transform(scale(1) translateY(0)); }
		}
	}
}