// includes all tags for paragraphs and titles such as header, p, span
h1 { font-size: 2em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.17em; }
h4 { font-size: 1em; }
h5 { font-size: 0.83em; }
h6 { font-size: 0.67em; }
.par p { padding:10px 0px; }
.par2 p { padding:5px 0px; }
.bp-center { text-align:center; }
.bp-left { text-align:left; }
.bp-right { text-align:right; }
.bp-justify { text-align:justify; }
.bp-tt { text-transform:uppercase; }
.fz-12 { font-size: 12px; }
.fz-14 { font-size: 14px; }
.fz-16 { font-size: 16px; }
.fz-18 { font-size: 18px; }
.fz-20 { font-size: 20px; }
.fz-24 { font-size: 24px; }
.fz-26 { font-size: 26px; }
.fz-30 { font-size: 30px; }
.fz-50 { font-size: 50px; }

@include breakpoint(macbook) {
	.fz-30 { font-size: 28px; }
	.fz-50 { font-size: 48px; }
}

@include breakpoint(tablet2) {
	.fz-18 { font-size: 18px; }
	.fz-20 { font-size: 18px; }
	.fz-24 { font-size: 22px; }
	.fz-26 { font-size: 24px; }
	.fz-30 { font-size: 26px; }
	.fz-50 { font-size: 44px; }
}

@include breakpoint(mobile) {
	.fz-16 { font-size: 14px; }
	.fz-18 { font-size: 16px; }
	.fz-20 { font-size: 16px; }
	.fz-24 { font-size: 20px; }
	.fz-26 { font-size: 22px; }
	.fz-30 { font-size: 24px; }
	.fz-50 { font-size: 30px; }
}

.bp-title {
	&.head-1 { font-weight: normal; text-transform: uppercase; @extend .fz-30; }
	&.head-2 { font-weight: 600; text-transform: uppercase; @extend .fz-30; }

	@include breakpoint(mobile) {
		&.head-1 { font-size: 24px; }
	}
}
.fc-title { text-transform: uppercase; color: $coBlue1; font-family: $fontA; @extend .fz-14; }

.in-co-par {
	p, ul li, ol li { line-height: 1.7; }
	&.par-height-2 {
		p, ul li, ol li { line-height: 2.0; }
	}

	// @include breakpoint(phablet) {
	// 	p, ul li, ol li { line-height: 1.4; }
	// 	&.par-height-2 {
	// 		p, ul li, ol li { line-height: 1.7; }
	// 	}
	// }
}

.co-temp-par {
	h1 { margin-bottom: 30px; text-transform: uppercase; font-weight: 600; line-height: 61px; @extend .fz-50; }
	h3 { margin-top: 40px; margin-bottom: 20px; font-weight: 600; line-height: 29px; @extend .fz-24; }
	h5 { margin-top: 20px; margin-bottom: 15px; font-weight: bold; @extend .fz-16; }
	p, ul li, ol li { line-height: 24px; @extend .fz-14; }
	p, ul, ol { margin-bottom: 20px; }
	ul { margin-left: 50px;
		li { list-style-type: disc; }

		&.mgl-1 { margin-left: 15px; }
	}

	@include breakpoint(phablet) {
		h1 { margin-bottom: 20px; line-height: 1.2; }
		h3 { margin-top: 30px; margin-bottom: 15px; }
		ul { margin-left: 30px; }
	}
}

.link-underline { text-decoration: underline; color: inherit;
	&:hover { color: inherit; }
}

.link-simple { color: inherit;
	&:hover { color: darken($coBlue1, 15%); }
}

.link { color: $coBlue1;
	&:hover { color: darken($coBlue1, 15%); }
}

.icon-50 { font-size: 50px; line-height: 1.0; }
.icon-60 { font-size: 60px; line-height: 1.0; }
.icon-80 { font-size: 80px; line-height: 1.0; }