// include all templated CSS properties here such as font sizes, margin, padding, color, background color, etc

/**
 * WooCommerce CSS Variables
 */

$woocommerce:   	#a46497;
$green:         	#7ad03a;
$red:           	#a00;
$orange:        	#ffba00;
$blue:          	#2ea2cc;

$primary:           #a46497;                                    // Primary color for buttons (alt)
$primarytext:       desaturate(lighten($primary, 50%), 18%);    // Text on primary color bg

$secondary:         desaturate(lighten($primary, 40%), 21%);    // Secondary buttons
$secondarytext:     desaturate(darken($secondary, 60%), 21%);   // Text on secondary color bg

$highlight:         adjust-hue($primary, 150deg);               // Prices, In stock labels, sales flash
$highlightext:      desaturate(lighten($highlight, 50%), 18%);  // Text on highlight color bg

$contentbg:         #fff;                                       // Content BG - Tabs (active state)
$subtext:           #777;                                       // small, breadcrumbs etc

// for width
$width1   : 1110px; // can be use as max width of the container
$width2   : 850px;
$width3   : 764px;
$width4   : 930px;
$width5   : 730px;
$width6   : 540px;
$width7   : 445px;

// for fonts
$defaultFont: 'Montserrat', 'Helvetica', 'Calibri'; // default font families and error support for any html tags
$fontA      : 'Montserrat', 'Helvetica', 'Calibri';
$fontB      : 'Open Sans', 'Helvetica', 'Calibri';
$FontAwesome: 'Font Awesome 5 Free';
$FontAwesomePro: 'Font Awesome 5 Pro';
$FontAwesomeBrands: 'Font Awesome 5 Brands';
$icomoon 	: 'icomoon';

// for font sizes
$fontSmall  : 12px;
$fontMedium : 14px;
$fontLarge  : 16px;
$fontxLarge : 18px;
$fontxxLarge: 20px;

// for colors
$defaultColor     : #42494E; // default color for the independent paragraphs, input fields, etc
$defaultLinkColor : #3189DD; // default link color for the whole site
$coWhite          : #ffffff;
$coBlack          : #000000;

$coNude1	      : #F9B291;
$coNude2	      : #FFC7C7;
$coNude3	      : #FEA6A6;

$coBlue1		  : #329ED5;
$coBlue2		  : #B5DDF1;
$coBlue3		  : #98D2F0;

$coGray1   		  : #42494E;
$coGray2   		  : #B8B8B8;
$coGray3   		  : #93979A;
$coGray4   		  : #979797;
$coGray5   		  : #E9E9E9;
$coGray6   		  : #D1D1D1;
$coGray7   		  : #F8F8F8;
$coGray8   		  : #D9D9D9;
$coGray9   		  : #D5D6D7;
$coGray10 		  : #f9f9f9;
$coGray11 		  : #9B9B9B;
$coGray12 		  : #D8D8D8;
$coGray13 		  : #828282;

$coYellow1 		  : #FFFAED;
$coYellow2 		  : #FFF3D4;

$coFacebook 	  : #3b5796;
$coInstagram 	  : #e23f5c;
$coPinterest 	  : #be0e25;
$coYoutube  	  : #cd1f1e;
$coTwitter  	  : #55aded;
$coLinkedin  	  : #0779b8;

// for margin and padding
$spaceOne   : 10px;
$spaceTwo   : 20px;
$spaceThree : 30px;
$spaceFour  : 40px;
$spaceFive  : 50px;