.woocommerce-orders .woocommerce table.my_account_orders{
    font-size:1.15em;
}
.page-template-size-guide .table-sg{
    border-radius: 10px !important;
    border:2px solid #d4f1ff;
}
.page-template-size-guide .table-sg td{
    border:2px solid #d4f1ff;
}
.page-template-size-guide .table-sg th{
    background:#d4f1ff;
}
.alternating_content.row{
    padding-bottom:0px;
}
.alternating_content.row img{
    width: 75%;   
}
.alternating_content.row .contents{
    padding-top:60px;   
}
.page-template-ourstory .team_members .photo_container{
    border-radius: 50%;
    width:150px;
    height:150px;
    overflow:hidden;
    text-align: center;
    display: inline-block;
}
.page-template-ourstory .team_members .photo_container img{
    max-width:170px;
    max-height:170px;
}
.page-template-ourstory .team_members .name{
    font-size: 1.5em;
}
.page-template-ourstory .team_members .designation{
    font-size: 1em;
}
.page-template-ourstory .team_members .background{
    font-size: 0.85em;
    padding: 30px 10%;
}
.ourstoryphotos{
    position: absolute;
    width: 40%;
    top:50px;
}
.team-label{
    padding-bottom:60px;
}
/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    .ourstoryphotos{
        width: 80%;
        top:0px;
    }
    .team-label{
        padding-bottom:20px;
    }
    .alternating_content.row .contents{
        padding-top:20px;   
    }
    .hidden-sm-down{
        display: none;   
    }
}
